body {
    background-color: rgb(0, 0, 0);
    font-family: sans-serif;
}
h1{
    font-weight: normal;
    font-size: 140%;
}

#switch {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: white;
    border: solid 1px black;
    position: absolute;
    left: 760px;
    top: 110px;
}